<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<body 
style="
background: url('https://i.pinimg.com/originals/d2/06/86/d20686fa16e34851f53782c6ec821062.jpg');
background-size: 1366px;">
<p class="alert alert-danger" th:if="${error}" th:text="${error}"></p>
				<p class="alert alert-success" th:if="${salida}" th:text="${salida}"></p>

<div  style="
  max-width: 100%;
  height: 550px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 380px;">
		<div class="row">
			<div class="col-lg-12 pt-5 mt-5">
				<h2 style="color: black;" ><i class="fa fa-lock"></i> AUTENTIFICACIÓN  </h2>
				
			</div>
			
			<div class="register" style="background-color: #8799DF; width: 500px; height: 250px; border-radius: 10px;">
				<form method="post" th:action="@{/login}">
					<div  class="form-group">
					<br>
						<label for="usuario" style="color: black;"><b>CORREO</b></label>
						<input type="email" class="form-control" id="usuario" name="username" placeholder="ESCRIBA SU CORREO ELECTRONICO">
					</div>
					
					<div  class="form-group">
						<label for="clave" style="color: black;"><b>CONTRASEÑA</b></label>
						<input type="password" class="form-control" id="clave" name="password" placeholder="ESCRIBA SU CONTRASEÑA">
					</div>
					
					<div style="text-align: center; height: 50px; width: 450px;">
					<button type="submit" class="btn btn-primary"  style="font-size: 20px; color: white;">INGRESAR <i class="fa fa-arrow-right"></i> </button>
					<a style="font-size: 20px; color: white;" href="/registrar" class="btn btn-primary" ><i class="fas fa-sign-in-alt"></i>REGISTRARSE</a>
				    </div> 
				</form>
			</div>
		</div>
	</div>

</body>
</html>